ADF/pipeline/PL_IncrementalLoad_Orders.json
{
	"name": "PL_IncrementalLoad_Orders",
	"properties": {
		"activities": [
			{
				"name": "LKP_OldWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableName,WatermarkValue AS OldWaterMarkValue FROM [dbo].[watermarktable] WHERE TableName = 'orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_DemobitsDB_WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_NewWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(InsertDateTime) AS NewWaterMarkValue FROM orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CustomerDB_Orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_OldWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_NewWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM orders WHERE InsertDateTime > '@{activity('LKP_OldWaterMarkValue').output.firstRow.OldWaterMarkValue}' AND InsertDateTime <='@{activity('LKP_NewWaterMarkValue').output.firstRow.NewWaterMarkValue}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 10
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "InsertDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InsertDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_CustomerDB_Orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_DemobitsDB_orders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update WaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('LKP_NewWaterMarkValue').output.firstRow.NewWaterMarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('LKP_OldWaterMarkValue').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_demobitsdb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-04T15:25:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}